[submodule "LearnOpenGL/external/GLFW"]
	path = LearnOpenGL/external/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "LearnOpenGL/external/glm"]
	path = LearnOpenGL/external/glm
	url = https://github.com/g-truc/glm.git
